body {
    font-family: "Berlin Sans FB", serif;
    background-image: url("../img/fondo.png");
    -webkit-background-size: cover;
    background-size: cover;
    min-width: 1080px;
}

.wrapper {
    margin: 0 auto;
    width: 1080px;
}

.header {

}

div.menu {
    font-size: 20px;
    text-align: left;
}

div.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.menu ul li {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
}

div.menu ul li a {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    padding: 5px;
}

/* inicio */

.content {
    margin-top: 80px;
    font-size: 18px;
}

.content.block {
    width: 740px;
}

.content .box {
    width: 530px;
    height: 400px;
    float: left;
    margin-bottom: 50px;
}